@keyframes fadeIn {
    from {
        transform: translateY(-100%);
        opacity: 0%;
    }

    to {
        transform: translateY(0%);
        opacity: 100%;
    }
}

.App {
    height: 80vh;
    max-width: 50em;
    margin: auto;
    margin-top: 10em;
    animation-name: fadeIn;
    animation-duration: .5s;
}

.calculatorContainer {
    background-color: rgb(173, 172, 172);
    padding: 2em;
    box-shadow: 10px 10px 5px rgba(148, 148, 148, 0.2);
    border-radius: 1em;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}